<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
        <H1>Enter your details </H1> <br>
        First Name <input type = "text" name= "fname" /> <br>
        Last Name <input type = "text" name = "lname" /> <br>
        EMail <input type = "text" name = "email" /> <br>
        Phone Number <input type = "text" name = "pnumber" /> <br>
        Classes <input type = "text" name = "class1" /> <br>
        <input type = "submit">
        </center>
</form>
</BODY>
</HTML>