<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
             <head><title>Main Page</title></head>
        <H1>Main Page </H1> <br>
            <H1>Enter your details </H1> <br>
        Class One <input type = "text" name= "course1" /> <br>
        Class Two <input type = "text" name = "course2" /> <br>
        Class Three <input type = "text" name = "course3" /> <br>
        Class Four <input type = "text" name = "course4" /> <br>
        Class Five <input type = "text" name = "course5" /> <br>
        Class Six <input type = "text" name = "course6" /> <br>
        Class Seven <input type = "text" name = "course7" /> <br>
        <input type = "submit">



        </center>
</form>
</BODY>
</HTML>
